@import "~bootstrap/dist/css/bootstrap.min.css";

.wrapper {
  background-color: green;
  padding: 4rem;
  min-height: 100vh;
}
.card-background {
  min-height: 80vh;
}

.spades {
  font-size: 50px;
  color: black;
}
.diamonds {
  font-size: 30px;
  padding-top: 0.6rem;
  color: red;
}
.hearts {
  font-size: 27px;
  padding-top: 0.7rem;
  color: red;
}
.clovers {
  font-size: 45px;
  color: black;
}

#value {
  font-size: 45px;
  font-weight: bold;
}
